


/* ----- partie annonce ------ */


.galerie {
    margin: 30px;
    border: 2px solid #cccccc;
    float: left;
    width: 400px;
    padding-right:90px;
    height: 450px;
}



.galerie p {
    text-align: center;
    font-size: 19px;
    padding-left: 60px;
}
 
.annonc {
    font-weight: bolder;
    color: white;
    background-color: #4682B4;
    text-decoration: none;
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 28px;
}




#success_message{ display: none;}







/* ---- a propos ---- */

.titre1 {
    font-weight: bolder;
    text-align: center;
    font-size: 30px;
    font-family: Montserrat;
}

.bloc2 {
    border-top: solid #4682B4 4px;
    width: 400px;
    margin: auto;
}

.parag2 {
    text-align: center;
    color: #111;
    font-weight: 500;
}



.fit-picture {
	width : 600px;
	display: block;
    margin-left: auto;
    margin-right: auto; 
    padding-bottom : 35px;
     padding-top: 35px;
}



























	.contact{
		padding: 4%;
		height: 400px;
	}
	.col-md-3{
		background: #ff9b00;
		padding: 4%;
		border-top-left-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
	}
	.contact-info{
		margin-top:10%;
	}
	.contact-info img{
		margin-bottom: 15%;
	}
	.contact-info h2{
		margin-bottom: 10%;
	}
	.col-md-9{
		background: #fff;
		padding: 3%;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}
	.contact-form label{
		font-weight:600;
	}
	.contact-form button{
		background: #25274d;
		color: #fff;
		font-weight: 600;
		width: 25%;
	}
	.contact-form button:focus{
		box-shadow:none;
	}